
.vs/
*.msi
*.swo
*.swp
*.txt
*.user
/.vs/
**/bin/*
**/obj/*
*.csproj.user
packages/
*UpgradeLog.htm
*.DS_Store
ffmpegMediaPlatform/ffmpeg.exe
ffmpegMediaPlatform/ffmpeg
Webb/httpfiles/Channels.json
/UI/~$Translations.xlsx
FPVTracksideCore/ffmpeg-libs/windows/include/
ffmpegMediaPlatform/ffmpeg-libs/windows/include/
ffmpegMediaPlatform/ffmpeg-builds/build-windows/include/
