body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    background: url(/themes/Dark/background.png);
    color: white;
    margin: 0px;
    padding: 0px;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
    color: white;
}

a:link, a:visited, a:hover, a:active {
    color: #ED1B24;
}

table {
    margin: 10px;
}

.content {
    padding-left: 2%;
    padding-right: 2%;
}

.top {
    background: #ED1B24;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1px;
}

td {
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
}

.menu {
    color: white;
    font-size: 16pt;
    text-align: center;
    padding: 3px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.rounds
{
    display: flex;
    flex-wrap: wrap;
}

.round, .race_status {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    background: #05050599;
    min-width: 15em;
}

.race_status {
    display: inline-block;
}

.race {
    display: block;
    min-height: 10em;
    margin-bottom: 40px;
}

h4 {
    margin: 2px;
}

h2
{
    display: inline-block;
    padding-right: 10px;
}

.race_pilot, .race_channel_color, .race_channel, .race_result {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.race_pilot {
    width: 200px;
}

.race_channel_color {
    width: 10px;
    height: 10px;
}

.race_channel {
    width: 10px;
}

.lap_time, .lap_behind, .lap_position {
    min-width: 6em;
    text-align: right;
}

.time {
    float: right;
    text-align: right;
    font-size: 40pt;
    display: inline;
    padding: 20px;
}

.position, .pilots, .holeshot, .racetime, .laps, .lap, .t, .p, .r, .e, .c, .f, .a, .total {
    padding: 5px;
    background: #05050599;
    font-weight: 300;
    font-size: 12pt;
    text-align: left;
    display: inline-block;
    height: 20px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.pilots {
    width: 120px;
}

.holeshot, .racetime {
    width: 80px;
}

.holeshot, .racetime, .laps, .lap, .position, .total {
    text-align: right;
}

.columns {
    column-count: 2
}

.row {
    white-space: nowrap;
}

.t, .p, .r, .e, .c, .f, .a {
    width: 30px;
    text-align: right;
}
